button {
    border-radius: 0px;
    outline: transparent;
    /* border: 1px solid black; */
    padding: 0.25rem;
}

#generated {
    background-color: lightgrey;
    min-height: 1rem;
    min-width: 100%;
}